<h1>{{title}}</h1>
<ul id="messages">
</ul>
<form id="message-input">
	<input id="msg" autocomplete="off" /><button>Send</button>
</form>
<form id="auth">
	<input id="username"/>
	<input id="password"/>
	<button>login</button>
</form>
<form id="register">
    <input id="username_reg"/>
    <input id="password_reg"/>
    <button>register</button>
</form>
<script src="/socket.io/socket.io.js"></script>
<script>
	var socket = io();
	let auth_token = '';

	$("#message-input").submit(event =>
    {
		event.preventDefault();
		let msg = $('#msg');
		socket.emit('send message', msg.val());
		msg.val('');
	});

	socket.on('new message', msg =>
    {
		//Escape User Strings
		var escaped_author = $('<div>').text(msg.author).html();
		var escaped_message = $('<div>').text(msg.msg).html();

		let elem = $('<li>').html( '<b>'+escaped_author+'</b>: ' + escaped_message);
		$('#messages').append(elem);
	});

	//Get the auth token with username and password
	$('#auth').submit(event =>
    {
		event.preventDefault();
		let combo = {'user': $('#username').val(), 'pass': $('#password').val()};
		socket.emit('get token', combo);
	});

	//Create account with username and password
    $('#register').submit(event =>
    {
        event.preventDefault();
        let combo = {'user': $('#username_reg').val(), 'pass': $('#password_reg').val()};
        socket.emit('register', combo);
    });

    //Use the auth token to sign in once it's returned by the server
	socket.on('token', token =>
    {
		auth_token = token;
		socket.emit('auth', token);
		console.log(token);
	});
</script>